@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/Raleway/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url("../fonts/Raleway/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

/*GENERAL*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row:after, .container:after, .row:before, .container:before {
  content: '';
  display: block;
  clear: both; }

body {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto; }

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-family: "Raleway-Regular"; }

.text-center {
  text-align: center; }

header .logo {
  display: inline-block;
  position: relative;
  top: -139px;
  left: 45px; }
  header .logo a {
    text-decoration: none;
    color: black; }
  header .logo #text-logo {
    position: relative;
    top: -86px;
    right: -35px;
    font-family: "Raleway-ExtraBold";
    font-size: 30px; }

header .menu li {
  display: inline-block;
  padding-top: 74px;
  padding-bottom: 76px;
  padding-left: 77px; }
  header .menu li a {
    text-decoration: none;
    color: black;
    font-family: "Raleway-ExtraBold";
    font-size: 18px; }
  header .menu li a:hover {
    color: #e649af;
    padding-bottom: 10px;
    border-bottom: 6px solid #f2f2f2; }

.third-part .left-part {
  float: left;
  padding-top: 202px;
  padding-bottom: -1500px;
  float: left; }
  .third-part .left-part h2 {
    font-family: "Raleway-ExtraBold";
    font-size: 72px;
    color: #bcc1cd;
    font-weight: 700; }
  .third-part .left-part p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #bcc1cd;
    line-height: 200%;
    margin-top: 88px; }

.third-part .right-part {
  float: right;
  padding-top: 233px;
  margin-bottom: -864px; }
  .third-part .right-part h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 105px;
    color: black; }
  .third-part .right-part h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 92px;
    color: black; }
  .third-part .right-part h1, .third-part .right-part h2 {
    text-align: center;
    position: relative;
    z-index: 100; }
  .third-part .right-part .hause-img {
    position: relative;
    right: -427px;
    top: -483px;
    z-index: 1; }
  .third-part .right-part .blue-border {
    position: relative;
    z-index: 2;
    right: -402px;
    top: -865px; }

.menu li {
  display: inline-block; }
  .menu li a {
    text-decoration: none;
    color: white;
    font-family: "Raleway-ExtraBold";
    font-size: 18px;
    vertical-align: middle; }
  .menu li a:hover {
    color: red; }

.menu li.img1 {
  background-image: url("../img/Photo1.png");
  max-width: 100%;
  width: 25%;
  height: 300px; }

.menu li.img2 {
  background-image: url("../img/Photo2.png");
  max-width: 100%;
  width: 25%;
  height: 300px; }

.menu li.img3 {
  background-image: url("../img/Photo3.png");
  max-width: 100%;
  width: 25%;
  height: 300px; }

.menu li.img4 {
  background-image: url("../img/Photo4.png");
  max-width: 100%;
  width: 25%;
  height: 300px; }

footer .container {
  background-color: #0f0f0f; }
  footer .container img {
    margin-top: 77px;
    margin-bottom: 32px; }
  footer .container p {
    padding-bottom: 108px; }

footer a {
  text-decoration: none;
  color: #585858;
  font-size: 14px;
  font-family: "Raleway-Regular"; }

footer a:hover {
  color: yellow; }
